name: test-and-update
on:
  push:
    branches-ignore:
      - main
    tags-ignore:
      - "*"

jobs:
  test-and-update:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
      # Runs format, updates dist, runs tests
      - run: |
          npm run all
          git diff
      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9
        with:
          commit_message: "[update-dist-bot] auto-format and update dist"
          commit_user_name: update-dist-bot
          commit_user_email: update-dist-bot@example.org
          commit_author: "update-dist-bot <update-dist-bot@example.org>"
